<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats</h3>
    <form method="get" action="/chats/new">
        <button>New chat</button>
    </form>
    <br>
    <%  for(let chat of chats)  {%>
        <div class="chat">
            <h3>From : <i><%=chat.from%></i></h3>
            <div class="msg">
                <h3><%=chat.message%></h3>
                <form method="get" action="/chats/<%=chat._id%>/edit">
                    <button class="msg cr">Edit</button>
                </form><br>
                <form method="post" action="/chats/<%=chat._id%>?_method=DELETE">
                    <button class="msg cr">Delete</button>
                </form>
            </div>
            <h3>Received by : <i><%=chat.to%></i></h3>
            <hr>
            <h4><%=chat.created_at.toString().split(" ")[4]%></h4  >
            <h4><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></h4  >
        </div>
        <br>
        <br>
    <% } %>
</body>
</html>
